---
const response = await fetch("https://api.themoviedb.org/3/movie/popular?api_key=b42d642d90896e822d5c02ae3139cc91&language=es-US&page=1");

const data = await response.json();
const detail = "/detail/";
const poster_url = "https://image.tmdb.org/t/p/w500";
---



<div class="row">
    {
        data.results.map((item) => (
            <div class="col-lg-3">
                <div class="card mt-4" style="width: 18 rem;">
                    <a href={detail + item.id}>
                        <img src={poster_url + item.poster_path} alt="poster" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{item.title}</h5>
                    </div>
                </div>
            </div>
        ))
    }
</div>
